@use 'mixins';

.products {
  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 1.25rem;
    letter-spacing: -2px;

    @media (max-width: 767px) {
      font-size: 3rem;
    }

    @media (max-width: 427px) {
      font-size: 2.5rem;
    }

    &--alt {
      font-size: 3rem;
      text-align: left;
      margin-bottom: 0;

      @media (max-width: 991px) {
        font-size: 2.75rem;
        margin-bottom: 1rem;
      }

      @media (max-width: 767px) {
        font-size: 2.5rem;
      }

      @media (max-width: 575px) {
        font-size: 1.75rem;
      }

      @media (max-width: 427px) {
        font-size: 1.5rem;
      }
    }
  }

  &__description {
    text-align: center;
    font-size: 1.125rem;
    margin-bottom: 4.25rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__list-item {
    display: flex;
    align-items: space-between;
    margin-bottom: 9rem;

    @media (max-width: 575px) {
      flex-flow: column wrap;
    }

    & > * + * {
      margin-left: 9rem;

      @media (max-width: 991px) {
        margin-left: 0;
      }
    }
  }

  &__list-info {
    width: 100%;

    @media (max-width: 575px) {
      text-align: center;
    }
  }

  &__list-name {
    color: var(--tertiary);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 0.875rem;
  }

  &__list-flavor {
    font-size: 3rem;
    margin-bottom: 1.75rem;
    letter-spacing: -2px;
    position: relative;
    right: 0.25rem;
    line-height: 1.25;

    @media (max-width: 1199px) {
      font-size: 2.5rem;
    }

    @media (max-width: 809px) {
      font-size: 2.25rem;
    }

    @media (max-width: 767px) {
      font-size: 2rem;
    }

    @media (max-width: 575px) {
      font-size: 1.75rem;
    }

    @media (max-width: 427px) {
      font-size: 1.5rem;
    }
  }

  &__list-description {
    font-size: 1.125rem;
    line-height: 1.875;
    margin-bottom: 4.25rem;

    @media (max-width: 767px) {
      margin-bottom: 1.75rem;
    }
  }

  &__list-button {
    @include mixins.button;

    @media (max-width: 575px) {
      margin: auto;
    }
  }

  &__list-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;

    &--mobile {
      display: none;
    }

    @media (max-width: 767px) {
      max-width: 100%;
      justify-content: flex-end;

      &--alt {
        justify-content: flex-start;
      }
    }

    @media (max-width: 575px) {
      display: none;

      &--mobile {
        display: flex;
        justify-content: center;
        margin: 2rem 0;
      }
    }

    img {
      width: 240px;
      height: 550px;

      @media (max-width: 767px) {
        width: 200px;
        height: 460px;
      }

      @media (max-width: 575px) {
        width: 160px;
        height: 370px;
      }
    }
  }

  &__play-button {
    position: absolute;
    top: 4rem;
    left: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1400px) {
      left: -4rem;
    }

    &.div-reverse {
      left: revert;
      right: 2rem;
      top: 3.25rem;

      @media (max-width: 1400px) {
        right: -2rem;
      }
    }

    &.div-last {
      top: 3.625rem;
    }

    span {
      color: var(--tertiary);
      text-transform: uppercase;
      font-weight: 500;
      font-size: 0.875rem;
      position: relative;
      padding: 1rem;
      right: 2rem;
      background-color: var(--white);

      @media (max-width: 1199px) {
        display: none;
      }

      &.span-reverse {
        left: 2rem;
      }
    }
  }

  &__play-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    border: 1px dashed var(--tertiary);

    @media (max-width: 1199px) {
      display: none;
    }

    i {
      font-size: 2rem;
      color: var(--tertiary);
    }
  }

  &__corner {
    @media (max-width: 1023px) {
      display: none;
    }

    &--top-left {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-top: 3px solid var(--dark);
      border-left: 3px solid var(--dark);
      height: 8rem;
      width: 6.5rem;
      background-color: transparent;
    }

    &--top-right {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      border-top: 3px solid var(--dark);
      border-right: 3px solid var(--dark);
      height: 8rem;
      width: 6.5rem;
      background-color: transparent;
    }

    &--bottom-left {
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 3px solid var(--dark);
      border-left: 3px solid var(--dark);
      height: 8rem;
      width: 6.5rem;
      background-color: transparent;
    }

    &--bottom-right {
      position: absolute;
      bottom: 0;
      right: 0;
      border-bottom: 3px solid var(--dark);
      border-right: 3px solid var(--dark);
      height: 8rem;
      width: 6.5rem;
      background-color: transparent;
    }

    &--first {
      border-color: var(--tertiary);
    }

    &--second {
      border-color: var(--secondary);
    }

    &--last {
      border-color: var(--primary);
    }
  }

  &__nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.5rem;

    @media (max-width: 991px) {
      flex-flow: column nowrap;
      align-items: stretch;
    }
  }

  &__card-nav {
    position: relative;
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;
      font-size: 1rem;
      color: var(--light-gray);

      &.active {
        font-size: 1.75rem;
        color: var(--dark);
      }
    }
  }

  &__line {
    display: inline-block;
    height: 2px;
    width: 2.75rem;
    background-color: var(--light-gray);
    margin: 0 1.125rem;

    &.active {
      background-color: var(--dark);
    }
  }

  &__card-list {
    display: flex;
    align-items: center;
    margin-bottom: 7rem;

    @media (max-width: 991px) {
      width: 100%;
      flex-flow: column wrap;
      align-items: center;
    }

    & > * + * {
      margin-left: 1.25rem;

      @media (max-width: 991px) {
        margin: 0;
        margin-top: 1.25rem;
      }
    }
  }

  &__card-item {
    display: flex;
    align-items: space-between;
    background-color: var(--white);
    box-shadow: var(--shadow);
    padding: 3rem;
    width: 100%;
  }

  &__card-info {
    width: 50%;

    @media (max-width: 1199px) {
      width: 100%;
    }
  }

  &__card-title {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.25;
    margin-bottom: 1rem;
  }

  &__card-description {
    font-size: 0.75rem;
    line-height: 2;
    margin-bottom: 3rem;
  }

  &__card-button {
    @include mixins.button;
  }

  &__card-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media (max-width: 575px) {
      display: none;
    }

    img {
      width: 120px;
      height: 280px;
    }
  }

  &__stats {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--lighter);
    min-height: 21.75rem;

    @media (max-width: 1400px) {
      justify-content: space-between;
    }

    @media (max-width: 767px) {
      padding: 1rem 0 2rem;
    }

    & > * + * {
      margin-left: 6rem;

      @media (max-width: 1400px) {
        margin-left: 2rem;
      }

      @media (max-width: 991px) {
        margin: 0 auto;
      }
    }
  }

  &__stats-graph {
    border: 1rem solid var(--white);
    border-radius: 1rem;
    box-shadow: var(--shadow);

    @media (max-width: 991px) {
      display: none;
    }
  }

  &__stats-list {
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
      justify-content: space-between;
      flex-flow: column wrap;
    }

    & > * + * {
      margin-left: 6rem;

      @media (max-width: 1400px) {
        margin-left: 2rem;
      }

      @media (max-width: 767px) {
        margin: 0;
        margin-top: 2rem;
      }
    }
  }

  &__stats-count {
    font-size: 5rem;
    font-weight: 500;
    color: var(--primary);
    letter-spacing: -0.25rem;

    @media (max-width: 1199px) {
      text-align: center;
    }
  }

  &__stats-detail {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary);

    @media (max-width: 1199px) {
      text-align: center;
    }
  }
}
